langchain-community
langchain==0.0.232
ipykernel
python-dotenv
langchain_core
streamlit
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
sentence-transformers
langchain-huggingface
faiss-cpu
duckdb
pandas
langchain_groq
langchain_chroma
ddgs==9.0.0
